@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');


body{
    background-color: #0F056B;
}
nav{
    background-color: #575097;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    
}

.container-logo{
    float: left;
    margin-left: 60px;
}

.container-logo img{
    width: 55px;
    border: 5px solid #575097;
    border-radius: 35%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.9);
    transition: all 1s ease;
}

.container-logo:hover img{
    transform:scale(1.25);
}

section{
    margin-top: 250px;
    height: 300px;
    width: 900px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color:goldenrod;
    font-size: 50px;
}

.container{
    display: flex;
    justify-content: center;
    
}

.container-about{
    width: 50%;
    margin-left: 20px;
}

.container-pic{
    width:50%;
    margin-left: 50px;
    
}

.container-pic img{
    width: 225px;
    border: 5px solid #575097;
    border-radius: 35%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.9);
    transition: all 1s ease;
}

.container-pic:hover img{
    transform:scale(1.25);
}

ul{
    font-style: italic;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 20px;
}
li{
    display: inline;
    padding: 10px;
}

li a{
    transition: all 0.5s ease;
}

a{
    font-size: large;
    text-decoration: none;
    color: #A8AF68; 
}

a:active{
    text-decoration: none;
    text-align: center;
    color: blueviolet;
}

li:hover a{
    color: #0F056B;
}

.column{
    float: left;
    width: 30%;
    padding: 0 15px;
}

.row{
    margin: 0 -10px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.card-pizza{
    width: 100%;
    height: 400px;
    background-image: url('99e77bca32032e2cc13236aa36c74edd.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #0F056B;
    border: 5px solid #A8AF68;
    border-radius: 45px;
    transition: all 0.5s ease;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.card-pizza:hover {
    transform: scale(1.25);
}

.card-iss{
    width: 100%;
    height: 400px;
    background-image: url('Screenshot\ 2024-07-11\ at\ 22.51.58.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #0F056B;
    border: 5px solid #A8AF68;
    border-radius: 45px;
    transition: all 0.5s ease;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.card-iss:hover {
    transform: scale(1.25);
}

.card-zotra{
    width: 100%;
    height: 400px;
    background-image: url('travel_plane_corona.jpeg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #0F056B;
    border: 5px solid #A8AF68;
    border-radius: 45px;
    transition: all 0.5s ease;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.card-zotra:hover {
    transform: scale(1.25);
}

.text-container{
    padding: 20px;
    color: black;
}

h3{
    color: yellow;
    font-family: "Inconsolata", monospace;
    border: 2px #0F056B solid;
    border-radius: 15%;
    background-color: blue;
}

.column p{
    font-style: italic;
    font-size: 20px;
    color: white;
}

.rows-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.rows{
    color: aliceblue;
    background-color: #575097;
    border: 2px #A8AF68 solid;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    flex: 1;
}

.rows:hover{
    background-color: red;
    color: black;
}